@use "../../scss/variables";

button {
    padding: 0.3rem 1.3rem;
    border-radius: 0.8rem;
    border: 2px solid variables.$light-red;
    color: variables.$light-red;
    background: transparent;
    font-size: 0.9rem;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: variables.$light-red;
        color: variables.$txt-primary;
    }
}
