@use "../../scss/variables";

.movie-info-container {
    padding: 1.6rem 2.2rem;
    color: variables.$txt-primary;

    @media (max-width: 425px) {
        padding: 1.6rem 1rem;
    }

    .underline::after {
        content: "";
        width: 100%;
        min-width: 200px;
        height: 1px;
        border-radius: 1rem;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
        display: block;
        margin: 1rem 0;
    }

    .movie-title {
        margin: 1rem 0;

        span {
            font-size: 1rem;
        }
        .title {
            font-size: 2.5rem;

            @media (max-width: 340px) {
                font-size: 1.5rem;
            }
        }
    }

    .infos {
        width: 80%;

        .genres {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .genre {
                border: 2px solid variables.$txt-primary;
                border-radius: 1rem;
                padding: 0.5rem;
                color: variables.$txt-primary;
                font-size: 0.7rem;
                cursor: default;

                @media (max-width: 381px) {
                    padding: 0.6rem;
                }
            }
        }

        .rating {
            display: flex;
            align-items: center;
            gap: 5px;

            .star {
                color: variables.$yellow;
            }
        }

        .info {
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            .sinopse {
                text-align: justify;
            }
        }
    }
}
