@use "../../scss/variables";
@import "../../scss/mixin";

li {
    a {
        cursor: pointer;
        @include flex-col;
        gap: 10px;

        &:active {
            cursor: grab;
        }

        img {
            height: 20rem;
            border-radius: 1rem;
            @media (max-width: 400px) {
                height: 15rem;
            }
        }

        .movie-title {
            color: variables.$txt-primary;
            font-size: 1rem;
            text-overflow: ellipsis;
        }
    }
}
