@use "../../scss/variables";
@import "../../scss/mixin";

li {
    &:hover {
        .movie-title {
            color: variables.$light-red;
        }
    }

    a {
        cursor: pointer;
        @include flex-col;
        gap: 10px;

        &:active {
            cursor: grab;
        }

        .movie-img {
            position: relative;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 160%;
            border-radius: 1rem;
            margin-bottom: 1rem;

            .play {
                position: absolute;
                padding: 0.8rem 1.8rem;
                background-color: variables.$main-color;
                border-radius: 3rem;
                border: none;
                display: flex;
                justify-content: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: transform 0.3s ease;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: variables.$background-black;
                opacity: 0;
                transition: opacity 0.3s ease;
                border-radius: 1rem;
            }

            &:hover::before {
                opacity: 0.8;
            }

            &:hover .play {
                transform: translate(-50%, -50%) scale(1);
                cursor: pointer;
            }

            .play .play-icon {
                color: variables.$txt-primary;
            }
        }

        .movie-title {
            color: variables.$txt-primary;
            font-size: 1rem;
            text-align: center;
        }
    }
}
