.modal-container {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.8);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    .modal {
        width: 60vw;
        height: 65vh;

        iframe {
            border-color: rgba($color: #000000, $alpha: 0.8);
        }

        @media (max-width: 300px) {
            width: 90vw;
        }
    }
}

.active {
    visibility: visible;
}
