@use "../../scss/variables";
@import "../../scss/mixin";

.banner {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;

    .button-container {
        width: 100%;
        background-color: rgba($color: #0000, $alpha: 0.7);
        padding: 1.5rem;

        .open-modal-button {
            background-color: variables.$main-color;
            color: variables.$txt-primary;
            border: none;
            border-radius: 1rem;
            padding: 0.8rem 1.6rem;
            font-size: 1.2rem;
            cursor: pointer;
            transition: filter 0.3s ease-in-out;

            &:hover {
                filter: brightness(1.4);
            }
        }
    }
}
