@use "../../scss/variables";
@import "../../scss/mixin";

.banner {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;

    .genres {
        width: 100%;
        display: flex;
        gap: 2rem;
        padding: 1.2rem;
        background-color: rgba($color: #000000, $alpha: 0.8);

        @media (max-width: 340px) {
            gap: 0.7rem;
        }

        .genre {
            border: 2px solid variables.$txt-primary;
            border-radius: 1rem;
            padding: 0.6rem 1rem;
            color: variables.$txt-primary;
            font-size: 0.8rem;
            cursor: default;

            @media (max-width: 381px) {
                padding: 0.6rem;
            }
        }
    }
}
